html, body {
    height: 120%;
    background-color: #00F0FF !important;
    background-image: linear-gradient(to bottom left, #00F0FF, white);
}

.global-container{
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.login-form{
    width: 600px;
    height: 500px;
    padding: 25px;
    background-color: #FFFEFE !important;
    border-radius: 30px;
}
input[type="username"],
input[type="password"]{
    background:#85FFF8;
    color: white;
    border: 1px  solid black;
    border-radius: 30px;
    margin-bottom: 25px;
}

input[type="username"]:focus,
input[type="password"]:focus{
    outline: none;
    border: none;
    background: #85FFF8;
    color: white;
    margin: 0px;
}
.card-title{
    font-weight: 900;
    line-height: 1;
    color: #1700A7;
}
h5{
    line-height: 1;
    text-align: center;
}

.btn{
    background: #2400FF !important;
    color: #FFFFFF;
    margin-left: 35%;
    transform: translateY(10px);
    font-size: 14px;
    border-radius: 15px !important;
    margin-bottom: 100px;
    font-weight: 600;
    width: 166px;
    
}
label{
    font-weight: bold;
    font-size: 1.25rem;
}
.daftar{
    text-align: center;
    line-height: 1;
}
