body{

    background-color: transparent;
    background-image: url("bg1.JPG");
    background-position: 90% 37%;
    background-size: 325%;
    
}
.navbar .nav-wrapper{
    margin: auto;
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: space-between;
}
.nav-wrapper .logo{
    font-size: 20px;
    font-weight: 1000;
    color: black;
    margin-top: 30px;
    text-decoration: none;
}
.nav-wrapper .menu-wrapper{
    display: flex;
}
.nav-wrapper .menu-wrapper .menu{
    display: flex;
    gap: 50px;
}
.menu-wrapper .menu .menu-link{
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: black;
    align-items: center;
}
.menu-wrapper .menu .menu-item{
    text-decoration: none;
    margin-top: 35px;
    display: block;
}
div .content{
    margin-top: 100px;
    width: 870px;
}
.content .title-content{
    font-size: 24px;
    font-weight: bold;
    color: #45009D;
}
.content .main-content{
    font-size: 52px;
    font-weight: 1000;
    color: #000;
}
.content .desc-content{
    font-size: 18px;
    color: #000;
}
.button .daftar{
    background-color: #2400FF;
    border-width: 0;
    width: 265px;
    height: 60px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
}
.button .login{
    margin-left :40px;
    background-color: #BFFBFF;
    border-width: 0;
    width: 265px;
    height: 60px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
}